exportPattern("^[^\\.]")

importFrom("graphics", "plot.default")
importFrom("methods", "as", "callGeneric", "is", "new")

S3method("print","brob")
S3method("print","glub")
S3method("print","brobmat")

importClassesFrom("Matrix", "index")

export("max")
export("min")
export("prod")
export("range")
export("sum")
